*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header .container{

    background: #222;
    color:deepskyblue;
    overflow: hidden;
    height: auto;
}
.container div{
    float: left;
    width: 33.33%
}

.container nav ul{
    list-style: none;
    margin-top: .9rem;
}
.container nav ul li{
    margin-left: 2rem;
}
.container nav ul li a{
    display: inline-block;
    float: left;
    color: aqua;
    text-decoration: none;
    margin-right: 5%;
}
.p-title h1{
    text-align: center;
}